body {
  font-family: 'Roboto', sans-serif;
  color: #c2c2c2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
  margin: 0;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

body::before {
  content: "";
  pointer-events: none;
  background: linear-gradient(rgb(12, 12, 12) 50%, rgba(0, 0, 0, 0.5) 50%);
  background-size: 100% 2px;
  display: block;
  position: fixed;
  z-index: 29;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  z-index: 1;
}



.disable-inspect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999999;
}

.container {
  background: transparent;
  text-align: center;
  padding: 40px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  opacity: 1;
  position: relative;
  z-index: 30;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: auto;
}

.profile-username {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.vypextxt {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60%;
  color: rgb(255, 255, 255);
}


.tiktok-button,
.telegram-button {
  background-color: #0088cc;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

.tiktok-button:hover,
.telegram-button:hover {
  transform: scale(1.05);
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

.tiktok-icon,
.telegram-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.tiktok-icon {
  background-image: url('tt1.png');
  background-size: cover;
}

.telegram-icon {
  background-image: url('tele.png');
  background-size: cover;
}

.tiktok-button {
  background: linear-gradient(to right, rgb(90, 33, 182), #6f14ac);
  color: #ffffff;
  border-radius: 30px;
  padding: 12px 24px;
  font-weight: bold;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

.telegram-button {
  background: linear-gradient(to right, rgb(90, 33, 182), #6f14ac);
  color: #ffffff;
  border-radius: 30px;
  padding: 12px 24px;
  font-weight: bold;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

:root {
  --pink: #ff4081;
}

body {
  font-family: Lato, sans-serif;
  margin: 0;
  background-color: #232e33;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

#navbar {
  width: 100%;
  background-color: rgba(25, 32, 36, 0.8);
  backdrop-filter: blur(10px);
  font-weight: bold;
  font-family: hd be db;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

#navbar ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

#navbar li {
  margin: 0 1em;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

#navbar li a {
  text-decoration: none;
  color: white;
  padding: 1em 2em;
  position: relative;
  transition: all ease-in-out 250ms;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

#navbar li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: var(--pink);
  bottom: -1em;
  transition: all ease-in-out 250ms;
  opacity: 0;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

#navbar li a:hover::after {
  width: 0%;
  opacity: 1;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

#navbar li a:hover {
  color: var(--pink);
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

#landing-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

.black-screen {
  background: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

.enter-button {
  background-color: #000000;
  color: rgb(186, 69, 233);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: heartbeat 1.5s infinite;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
  font-family: 'Lato', sans-serif;
  font-style: italic;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.enter-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
  animation: none;
}

.gif-overlay {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60px;
  height: auto;
}




.profile-username {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  z-index: 1;
}


.tiktok-icon-link,
.discord-icon-link,
.telegram-icon-link {
  display: inline-block;
  width: 40px; 
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: none;
  cursor: url('https://cdn.vypex.xyz/files/vy.cur'), auto;
}

.tiktok-icon-link {
  background-image: url('https://cdn.discordapp.com/attachments/1138693314833559564/1153450297734213733/download.png'); /* Replace with the actual URL of your TikTok icon */
}

.telegram-icon-link {
  background-image: url('https://media.discordapp.net/attachments/1188938171157839953/1188949076960620634/250.png?ex=659c621d&is=6589ed1d&hm=8d5f1bba53efa4bab1406a7e505129ec84b21408c7bf03f38493a0328ebbeb2e&=&format=webp&quality=lossless'); /* Replace with the actual URL of your Telegram icon */
}

.discord-icon-link {
  background-image: url('https://cdn.discordapp.com/attachments/1138693314833559564/1153449245198778419/image.png'); /* Replace with the actual URL of your Telegram icon */
}

.tiktok-icon-link:hover,
.discord-icon-link:hover,
.telegram-icon-link:hover {
  transform: scale(1.1);
}